@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";

html, body {
  scroll-behavior: smooth;
}

strong {
  text-decoration: underline;
  text-decoration-color: var(--color-fd-primary);
  text-decoration-thickness: 2px;
}

p a {
  color: var(--color-fd-primary);
  text-decoration-color: var(--color-fd-primary);
  text-decoration-thickness: 2px;
}

ul li::marker {
  color: var(--color-fd-primary);
}
