@import "@fontsource-variable/archivo";
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-ui-50: #e8f1f6;
  --color-ui-100: #ced7db;
  --color-ui-500: #808d96;
  --color-ui-700: #434c53;
  --color-ui-800: #2f3236;
  --color-ui-900: #1b1d20;
  --color-ui-950: #131619;

  --color-red-500: #f55d42;
  --color-red-600: #bd4833;
  --color-red-700: #8f3627;
  --color-red-950: #3d1812;

  --color-cyan: #86E9FF;
  --color-emerald: #1FE39E;

  --spacing-page-width: 1400px;
  --spacing-nav-height: 57px;
  --spacing-content-height: calc(100vh - var(--spacing-nav-height));
}

@layer base {
  html,
  body {
    font-family: "Archivo Variable", sans-serif;
    background-color: var(--color-ui-950);
    color: var(--color-ui-50);
  }

  /* Required by base-ui */
  .root {
    isolation: isolate;
    position: relative;
  }

  h1 {
    font-size: var(--text-5xl);
  }

  h2 {
    font-size: var(--text-4xl);
  }

  h3 {
    font-size: var(--text-3xl);
  }

  h4 {
    font-size: var(--text-2xl);
  }

  h5 {
    font-size: var(--text-xl);
  }

  p + p {
    margin-top: 1rem;
  }

  code {
    padding: 0.1rem 0.25rem;
    background-color: var(--color-ui-900);
    border: 1px solid var(--color-ui-700);
    border-radius: var(--radius-sm);
    color: var(--color-ui-100);
  }

  ul.list {
    list-style-type: disc;
    padding-left: 1rem;

    li::marker {
      color: var(--color-ui-500);
    }
  }

  a.link {
    @apply flex items-center gap-1 mb-4 text-sm text-ui-500 hover:text-ui-100 underline;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--color-ui-700) var(--color-ui-900);
  }
}

@layer components {
  .text-slot-letter {
    transform: translateY(-3rem);
    display: block;
    animation: spin-slot 2s cubic-bezier(.54,-0.27,.31,1.27) infinite;
  }

  @keyframes spin-slot {
    0% {
      transform: translateY(-3rem);
    }
    50% {
      transform: translateY(0rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }
}